@model Hospital.Models.Patient

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Подробности</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            Фамилия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            Год рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            Место жительства
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            Номер медицинского полиса
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PolicyNumber)
        </dd>

        <dt>
            Номер паспорта
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passport)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.PatientId }) |
    @Html.ActionLink("Назад к списку", "Index")
</p>

<h3>Список посещений</h3>

<table class="table">
    <tr>
        <th>Дата</th>
        <th>Имя врача</th>
        <th>Фамилия врача</th>
        <th>Специальность</th>
        <th>Предписание врача</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Visits)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Patient.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.Speciality.SpecialityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorPrescription)
            </td>
        </tr>
    }

</table>
